*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #16325B;
}
.board{
    border-radius: 6px;
    background-color: #FFDC7F;
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
}
.box{
    background-size: cover;
    border-radius: 6px;
    height: 24%;
    width: 24%;
    margin: 0.5%;
    text-align: center;
    font-size: 0px;
    &:hover{
        cursor: pointer;
    }
}
button{
    width: 10%;
    height: 30px;
    background-color: #FFDC7F;
    border: none;
    border-radius: 3px;
    &:hover{
        cursor: pointer;
    }
}
.layer{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 6px;
    transition: all 0.5s ease-out;
}
#outbox{
    position: absolute;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    color: #f00;
    font-size: 60px;
    visibility: hidden;
}
#logOut{
    top: 4%;
    right: 4%;
    position: absolute;
    padding: 3px 5px;
    color: white;
    background-color: grey;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid red;
    &:hover{
        opacity: 0.9;
        cursor: pointer;
    }
}
#userName{
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 6px;
    background-color: #FFDC7F;
    color: #000;
    font-size: x-large;
    position: absolute;
    top: 3%;
    left: 3%;
}